quests/11_send_email_forms.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "e0aea9f1-ec8f-42e3-8b13-766d542a6450",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -224
      ],
      "id": "7be7874c-1c22-4360-ab46-efa7d6f7d0ff",
      "name": "Webhook",
      "webhookId": "e0aea9f1-ec8f-42e3-8b13-766d542a6450"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af24d701-9819-4fa5-af30-2ffbac27954b",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -224
      ],
      "id": "f3b1dc18-01a9-4b09-bcae-52febbe7b936",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "otter35@knou.ac.kr,\nwindows2xp6969@gmail.com,\ntjdgh4329@gmail.com",
        "subject": "={{ $json.query.lname }}{{ $json.query.fname }}{{ $json.query.content }}",
        "message": "={{ $json.query.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        -224
      ],
      "id": "6d33c035-4348-4227-a6c2-d405edec828d",
      "name": "Send a message",
      "webhookId": "1f700531-9757-4ccb-bf8b-4cfd280d5ff8",
      "credentials": {
        "gmailOAuth2": {
          "id": "uMd0fxVFwan2HYf1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51f7ba4e-fa28-49a3-8d86-cf188b37890c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c005e6aab65fb821aa80c48d5a23961c84eb52165b04318ecc3dce73ecd4ccdc"
  },
  "id": "lMUenzRo6wcKTNrm",
  "tags": []
}